## 安裝 TensorFlow 與 Keras

In [1]:
! pip install tensorflow

Requirement already satisfied: tensorflow in c:\programdata\anaconda3\lib\site-packages
Requirement already satisfied: protobuf>=3.2.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: six>=1.10.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: bleach==1.5.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: numpy>=1.11.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: backports.weakref==1.0rc1 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: html5lib==0.9999999 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: markdown>=2.6.8 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: werkzeug>=0.11.10 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: wheel>=0.26 in c:\programdata\anaconda3\lib\site-packages (from tensorflow)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.2.0->tensorflow)

In [2]:
! pip install keras

Requirement already satisfied: keras in c:\programdata\anaconda3\lib\site-packages
Requirement already satisfied: numpy>=1.9.1 in c:\programdata\anaconda3\lib\site-packages (from keras)
Requirement already satisfied: pyyaml in c:\programdata\anaconda3\lib\site-packages (from keras)
Requirement already satisfied: six>=1.9.0 in c:\programdata\anaconda3\lib\site-packages (from keras)
Requirement already satisfied: scipy>=0.14 in c:\programdata\anaconda3\lib\site-packages (from keras)

## 讀取資料

### 方法二 (支線)

In [92]:
import pandas as pd
dataset = pd.read_csv('https://raw.githubusercontent.com/ywchiu/fuboni/master/data/Churn_Modelling.csv')

In [94]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [95]:
X = dataset[['CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary']]
y = dataset['Exited'].values

In [97]:
from sklearn.preprocessing import LabelEncoder
le  = LabelEncoder()
X['Gender'] = le.fit_transform(X['Gender'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [108]:
X2 = pd.concat([pd.get_dummies(X['Geography']), X], axis = 1)
del X2['Geography']

X2 = X2.iloc[:,1:]
X2.head()

,Germany,Spain,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0,0,619,0,42,2,0.00,1,1,1,101348.88
1,0,1,608,0,41,1,83807.86,1,0,1,112542.58
2,0,0,502,0,42,8,159660.80,3,1,0,113931.57
3,0,0,699,0,39,1,0.00,2,0,0,93826.63
4,0,1,850,0,43,2,125510.82,1,1,1,79084.10

### 方法一 (主線)

In [110]:
import pandas as pd
dataset = pd.read_csv('https://raw.githubusercontent.com/ywchiu/fuboni/master/data/Churn_Modelling.csv')

In [111]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [112]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:,13].values

In [113]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [114]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [115]:
set(X[:,1])

{'France', 'Germany', 'Spain'}

In [116]:
set(X[:,2])

{'Female', 'Male'}

In [117]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencode_X_1 = LabelEncoder()
X[:,1] = labelencode_X_1.fit_transform(X[:,1])

In [118]:
labelencode_X_2 = LabelEncoder()
X[:,2] = labelencode_X_1.fit_transform(X[:,2])

In [119]:
X.shape

(10000, 10)

In [120]:
onehotencoder = OneHotEncoder(categorical_features=[1])

In [121]:
?OneHotEncoder

In [122]:
X2 = onehotencoder.fit_transform(X).toarray()

In [123]:
X2.shape

(10000, 12)

In [124]:
X[0:3,:]

array([[619, 0, 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
       [608, 2, 0, 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 0, 0, 42, 8, 159660.8, 3, 1, 0, 113931.57]], dtype=object)

In [125]:
X2[0,:]

array([  1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         6.19000000e+02,   0.00000000e+00,   4.20000000e+01,
         2.00000000e+00,   0.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.01348880e+05])

In [126]:
X2 = X2[:,1:]

In [127]:
X2.shape

(10000, 11)

## 將資料分為訓練與測試資料集

In [128]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X2, y, test_size = 0.2, random_state = 0)

In [129]:
X_train.shape

(8000, 11)

In [130]:
X_test.shape

(2000, 11)

In [131]:
y_train.shape

(8000,)

In [132]:
y_test.shape

(2000,)